* {
  font-family: Arial;
  margin: auto;
  overflow: hidden;
}
.sqr {
  display: inline-block;
  border: 1px solid black;
  width: 10px;
  height: 10px;
  text-align: center;
}
.nv {
  background: black;
  color: white;
}
